h6 {
  max-width: 500px;

  text-align: center;

  margin: 10px auto;

  position: relative;
}

h6:before, h6:after {
  content: "";
  display: block;

  height: 1px;
  width: 135px;
  
  background-color: black;
  
  position: absolute;

  top: 50%;
}

h6:before {
  left: 0;
}

h6:after {
  right: 0;
}